.loc1 {
    background-image: url("https://res.cloudinary.com/dovgwbnxt/image/upload/v1729236033/1_chcnej.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.loc2 {
    background-image: url("https://res.cloudinary.com/dovgwbnxt/image/upload/v1729232268/Google_Map_j47ior.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.att1 {
    background-image: url("https://res.cloudinary.com/dovgwbnxt/image/upload/v1729236033/4_l0ugvs.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.att2 {
    background-image: url("https://res.cloudinary.com/dovgwbnxt/image/upload/v1729232266/Pinterest_Board_m4aqky.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-position: center;
}

.gift {
    background-image: url("https://res.cloudinary.com/dovgwbnxt/image/upload/v1729501288/Attire_xrttwb.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-position: center;   
}