.loc1 {
    background-image: url("https://res.cloudinary.com/dovgwbnxt/image/upload/v1726217782/loc1_ly9out.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.att1 {
    background-image: url("https://res.cloudinary.com/dovgwbnxt/image/upload/v1728526686/Attire_vxj4dk.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.att2 {
    background-image: url("https://res.cloudinary.com/dovgwbnxt/image/upload/v1726199857/att2_sau9me.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-position: center;
}