html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
}

header {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

section {
    height: 100vh;
}

.pinyon {
    font-family: "Pinyon Script", cursive;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.navbar {
    --bs-navbar-active-color: #fece5d;
    --bs-navbar-hover-color: #fece5d;
}

.bgDiv {
    z-index: 2;
    position: fixed;
}

.fgDiv {
    z-index: 3;
    position: relative;
}

.sectionBg {
    background-image: url("https://res.cloudinary.com/dovgwbnxt/image/upload/v1726024514/Ricamora-Labaya_Background_exbida.png");
}

.elevate {
    box-shadow: -10px 10px 15px 5px rgba(0, 0, 0, 0.20);
}

.rsvpBtn {
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 50px;
}

.mainText {
    width: 75vh;
}

.homeBg {
    z-index: 1;
    transform: translate(-50%, -50%) rotate(90deg);
    top: 50%;
    left: 50%;
    position: fixed;
    width: 100vh;
    height: 100vw;
}

.imgBg {
    width: 100%;
}

.contentHeight {
    height: 50vh;
}

.navWidth {
    width: 400px;
}

@media only screen and (min-width: 600px) {
    .mainText {width: 85vw;}
    .homeBg {
        transform: translate(-50%, -50%) rotate(0deg);
        width: auto;
        height: auto;
    }
    .imgBg {width: auto;}
    .contentHeight {height: 100vh;}
    .navWidth {width: 800px;}
}

@media only screen and (min-width: 768px) {
    .mainText {width: 70vw;}
    .homeBg {
        transform: translate(-50%, -50%) rotate(0deg);
        width: auto;
        height: auto;
    }
    .imgBg {width: auto;}
    .contentHeight {height: 100vh;}
    .navWidth {width: 800px;}
}