html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
}

header {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

section {
    height: 100vh;
}

.navbar {
    --bs-navbar-active-color: #fece5d;
    --bs-navbar-hover-color: #fece5d;
}

.navLink {
    font-family: "Pinyon Script", cursive;
}

.bgDiv {
    z-index: 2;
    position: fixed;
}

.fgDiv {
    z-index: 3;
    position: relative;
}

.mainText {
    width: 100vw;
}

.homeBg {
    z-index: 1;
    transform: translate(-50%, -50%) rotate(90deg);
    top: 50%;
    left: 50%;
    position: fixed;
    width: 100vh;
    height: 100vw;
}

.imgBg {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .mainText {width: 85vw;}
    .homeBg {
        transform: translate(-50%, -50%) rotate(0deg);
        width: auto;
        height: auto;
    }
    .imgBg {width: auto;}
}

@media only screen and (min-width: 768px) {
    .mainText {width: 70vw;}
    .homeBg {
        transform: translate(-50%, -50%) rotate(0deg);
        width: auto;
        height: auto;
    }
    .imgBg {width: auto;}
}